{# src/Oro/BugTrackerBundle/Resources/views/auth/login.html.twig #}
{% extends 'BugTrackerBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ absolute_url(asset('bundles/bugtracker/css/login.css')) }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    {% block messages %}
    {% endblock %}

    <div class="container">
        <div class="card card-container">
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
                {% if error %}
                    <div class="alert alert-danger mb-0">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}
                {% for type, flashes in app.session.flashbag.all %}
                    {% for flash in flashes %}
                        <div class="alert alert-{{ type }} m-3">
                            {{ flash }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {{ form_start(form, { 'attr': {'class': 'form-signin'} }) }}
            <fieldset>
                <div class="input-prepend">
                    {{ form_row(form.username,{'label_attr':{'class':'add-on'}, 'value': last_username}) }}
                </div>
                <div class="input-prepend">
                    {{ form_row(form.password,{'label_attr':{'class':'add-on'}}) }}
                </div>
                {{ form_row(form.submit, { 'label': 'Submit me', 'attr' : {'class' : 'btn btn-lg btn-primary btn-block btn-signin'}}) }}
            </fieldset>
            {{ form_end(form) }}
            <div class="panel-footer">Not Registered? <a href="{{ absolute_url(path('oro_bugtracker_auth_register')) }}"
                                                         class="">Register here</a>
            </div>
        </div>
    </div>
{% endblock %}