<div class="panel panel-default mt-3 panel-bold">
    <!-- Default panel contents -->
    <div class="panel-heading p-2">
    {% if limit is defined %}
        {{ 'Last'|trans }} {{ limit }} {{ 'elements of Activity' }}
    {% else %}
        {{ 'All Activities'|trans }}
    {% endif %}
    </div>
    <div class="panel-body p-2">
        <div class="activity-list">
            <div class="row">
                {% for activity in collection %}
                    <div class="col-11 pt-1 pb-2">
                        <div class="block activity-list-item pl-4">
                            {% set activityTemplate = activity_template_detect(activity) %}
                            {{ include(activityTemplate, {activity: activity}) }}
                        </div>
                    </div>
                {% endfor %}

                <div class="col-11 pt-1 pb-2">
                    <div class="block pl-4">
                        <a href="#">
                            {{ 'Show all ->'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>