{% set comments = collection_order(issue.comments, 'created') %}
    <div class="comment-container">
        <div class="row">
            {% if comments is not empty %}
                {% for item in comments %}
                    <div class="col-sm-8 pb-3">
                        <div class="panel panel-white post panel-shadow">
                            <div class="post-heading">
                                <div class="pull-left image">
                                    <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar"
                                         alt="user profile image">
                                </div>
                                {% if is_granted("edit_comment",item) == true %}
                                    <div class="pull-right">
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button"
                                                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item comment-action"
                                                   href="{{ url('oro_bugtracker_comment_edit',{id: item.id}) }}">
                                                    {{ 'Edit'|trans }}
                                                </a>
                                                <a class="dropdown-item comment-action"
                                                   href="{{ url('oro_bugtracker_comment_delete',{id: item.id}) }}">
                                                    {{ 'Delete'|trans }}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="pull-left meta">
                                    <div class="title h5">
                                        <a href="{{ url('oro_bugtracker_customer_view', {id: item.customer.id}) }}"><b>{{ item.customer.username }}</b></a>
                                        {{ 'made a post.'|trans }}
                                    </div>
                                    <h6 class="text-muted time">{{ 'Added on'|trans }}
                                        - {{ item.created|date("m/d/Y g:ia") }}</h6>
                                </div>
                            </div>
                            <div class="post-description">
                                <p>{{ item.body }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="col-sm-8 pb-3">
                <div class="add-comment">
                    {{ form_start(comment_form) }}
                    {{ form_widget(comment_form.body,{'attr': {'class': 'form-control',
                        'placeholder': 'Write your comment please'|trans}}) }}
                    {{ form_row(comment_form.submit, { 'attr': { 'class': 'btn btn-success green'},
                        'label': 'Add comment'|trans } ) }}
                    {{ form_end(comment_form) }}
                </div>
            </div>

            <!-- Default bootstrap modal example -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-container">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

