{# src/Oro/BugTrackerBundle/Resources/views/project/view.html.twig #}
{% extends 'BugTrackerBundle::base.html.twig' %}
{% block page_header_content %}
    {{ parent() }}
    <div class="p-2">
        <a class="btn btn-secondary" href="{{ url('oro_bugtracker_project_list') }}" role="button">{{ 'Back'|trans }}</a>
    </div>
    <div class="p-2">
        <a class="btn btn-secondary" href="{{ url('oro_bugtracker_project_edit', { 'id': entity.id }) }}"
           role="button">{{ 'Edit'|trans }}</a>
    </div>
    <div class="p-2">
        {{ render(controller('BugTrackerBundle:Project:delete', { 'id': entity.id } )) }}
    </div>
{% endblock %}

{% block content %}
    <div class="panel panel-primary panel-bold p-3">
        <div class="panel-body">
            <div class="edit-customer-page container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-2 font-weight-bold">
                                {{ 'Label'|trans }}
                            </div>
                            <div class="col-3">
                                {{ entity.label }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-2 font-weight-bold">
                                {{ 'Summary'|trans }}
                            </div>
                            <div class="col-3">
                                {{ entity.summary }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-2 font-weight-bold">
                                {{ 'Code'|trans }}
                            </div>
                            <div class="col-3">
                                {{ entity.code }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="panel panel-default mt-3 panel-bold">
        <!-- Table -->
        <div id="members-grid">
            {{ members_grid_html|raw }}
        </div>
    </div>

    {{ include('BugTrackerBundle:Activity:paginator_list.html.twig',
    {collection: (activity_collection), paginator_var: (activity_paginator_var)} ) }}
{% endblock %}

{% block javascripts_custom %}
    {{ parent() }}
    <script type="text/javascript" src="{{ absolute_url(asset('bundles/bugtracker/js/project/members.js')) }}"></script>
{% endblock %}