{# src/Oro/BugTrackerBundle/Resources/views/issue/list.html.twig #}
{% extends 'BugTrackerBundle::base.html.twig' %}
{% import 'BugTrackerBundle::macros.html.twig' as macros %}

{#initialization#}
{% set page_title = 'Manage issues'|trans %}
{% set columns = {'id': 'Id', 'code': 'Code', 'summary': 'Summary'} %}
{% set actions = [{
    'label':'View',
    'router': 'oro_bugtracker_issue_view',
    'router_parameters': [{'collection_key': 'id', 'router_key': 'id'}]
}] %}
{% if is_granted('ROLE_MANAGER') %}
    {% set actions = actions|merge(
        [{
            'label':'Edit',
            'router': 'oro_bugtracker_issue_edit',
            'router_parameters':  [{'collection_key': 'id', 'router_key': 'id'}]
        }]
    ) %}
{% endif %}

{% set paginator_var = 'issue_p' %}
{% set entity_create_router = 'oro_bugtracker_issue_create' %}

{% block page_header_content %}
    {{ parent() }}
    <div class="p-2">
        <a class="btn btn-primary" href="{{ url(entity_create_router) }}"
           role="button">{{ 'Create Issue'|trans }}</a>
    </div>
{% endblock %}

{#Initialize paginator object#}
    {% set issue_paginator = paginator_object_by_custom_condition(
    entity_class,
    'issue_list',
    paginator_var,
    [app.user, is_granted('ROLE_MANAGER')]
    ) %}

{% block content %}
    <div id="issue-list">
        {{ macros.renderGrid(issue_paginator.entity_collection, columns, actions) }}
        <div class="text-center">
            {{ macros.renderPaginator(app.request.attributes.get('_route'), issue_paginator.max_pages, paginator_var) }}
        </div>
    </div>
{% endblock %}


