{# src/Oro/BugTrackerBundle/Resources/views/customer/edit.html.twig #}
{% extends 'BugTrackerBundle::base.html.twig' %}
{% block page_header_content %}
    {{ parent() }}
    <div class="p-2">
        <a class="btn btn-secondary" href="{{ url('oro_bugtracker_customer_list') }}" role="button">{{ 'Back'|trans }}</a>
    </div>
    <div class="p-2">
        <a class="btn btn-secondary" href="{{ url('oro_bugtracker_customer_view', { 'id': entity_id } ) }}"
           role="button">{{ 'View'|trans }}</a>
    </div>
    <div class="p-2">
        {{ render(controller('BugTrackerBundle:Customer:delete', { 'id': entity_id } )) }}
    </div>
{% endblock %}

{% block content %}
    <div class="panel panel-primary panel-bold p-3">
        <div class="panel-body">
            <div class="edit-customer-page container-fluid">
                {{ form_start(form) }}
                <div class="form-group row">
                    {{ form_label(form.username, null, {'label_attr': {'class': 'col-2 col-form-label'}}) }}
                    {{ form_errors(form.username) }}
                    <div class="col-3">
                        {{ form_widget(form.username,{'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group row">
                    {{ form_label(form.fullName, null, {'label_attr': {'class': 'col-2 col-form-label'}}) }}
                    {{ form_errors(form.fullName) }}
                    <div class="col-3">
                        {{ form_widget(form.fullName,{'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group row">
                    {{ form_label(form.email, null, {'label_attr': {'class': 'col-2 col-form-label'}}) }}
                    {{ form_errors(form.email) }}
                    <div class="col-3">
                        {{ form_widget(form.email,{'attr': {'class': 'form-control'}}) }}
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.
                        </small>
                    </div>
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="form-group row">
                        {{ form_label(form.roles, null, {'label_attr': {'class': 'col-2 col-form-label'}}) }}
                        {{ form_errors(form.roles) }}
                        <div class="col-3">
                            {{ form_widget(form.roles,{'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                {% else %}
                    {% do form.roles.setRendered %}
                {% endif %}
                <div class="form-group row">
                    {{ form_label(form.plainPassword.first, null, {'label_attr': {'class': 'col-2 col-form-label'}}) }}
                    {{ form_errors(form.plainPassword.first) }}
                    <div class="col-3">
                        {{ form_widget(form.plainPassword.first,{
                            'required':false,
                            'attr': {'class': 'form-control'}}
                        ) }}
                    </div>
                </div>
                <div class="form-group row">
                    {{ form_label(form.plainPassword.second, null, {'label_attr': {'class': 'col-2 col-form-label'}}) }}
                    {{ form_errors(form.plainPassword.second) }}
                    <div class="col-3">
                        {{ form_widget(form.plainPassword.second,{
                            'required':false,
                            'attr': {'class': 'form-control'}}
                        ) }}
                    </div>
                </div>
                {{ form_row(form.submit, { 'attr': { 'class': 'btn btn-primary' } }) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

