{# src/Oro/BugTrackerBundle/Resources/views/customer/edit.html.twig #}
{% extends 'BugTrackerBundle::base.html.twig' %}
{% import 'BugTrackerBundle::macros.html.twig' as macros %}

{% block page_header_content %}
    {{ parent() }}
    <div class="p-2">
        <a class="btn btn-primary" href="{{ url(entity_create_router) }}" role="button">{{ 'Create Customer'|trans }}</a>
    </div>
{% endblock %}

{% block content %}
    <div id="customer-list">
        {% set entity_paginator = paginator_object(entity_repository, current_page) %}
        {{ macros.renderGrid(entity_paginator.entity_collection, columns, actions) }}
        <div class="text-center">
            {{ macros.renderPaginator(app.request.attributes.get('_route'), current_page, entity_paginator.max_pages) }}
        </div>
    </div>
{% endblock %}


