{# src/Oro/BugTrackerBundle/Resources/views/customer/edit.html.twig #}
{% extends 'BugTrackerBundle::base.html.twig' %}
{% import 'BugTrackerBundle::macros.html.twig' as macros %}

{#initialization#}
{% set page_title = 'Manage customers'|trans %}
{% set columns = {'id': 'id', 'username': 'User Name', 'email': 'Email', 'fullName': 'Full Name'} %}
{% set actions = [{
    'label':'View',
    'router': 'oro_bugtracker_customer_view',
    'router_parameters': [{'collection_key': 'id', 'router_key': 'id'}]
}] %}
{% if is_granted('ROLE_MANAGER') %}
    {% set actions = actions|merge(
        [{
            'label':'Edit',
            'router': 'oro_bugtracker_customer_edit',
            'router_parameters':  [{'collection_key': 'id', 'router_key': 'id'}]
        }]
    ) %}
{% endif %}

{% set paginator_var = 'customer_p' %}
{% set entity_create_router = 'oro_bugtracker_customer_create' %}

{% block page_header_content %}
    {{ parent() }}
    <div class="p-2">
        <a class="btn btn-primary" href="{{ url(entity_create_router) }}" role="button">{{ 'Create Customer'|trans }}</a>
    </div>
{% endblock %}

{% block content %}
    <div id="customer-list">
        {% set entity_paginator = paginator_object_by_entity_class(entity_class, paginator_var) %}
        {{ macros.renderGrid(entity_paginator.entity_collection, columns, actions) }}
        <div class="text-center">
            {{ macros.renderPaginator(app.request.attributes.get('_route'), entity_paginator.max_pages, paginator_var) }}
        </div>
    </div>
{% endblock %}


