{# src/Oro/BugTrackerBundle/Resources/views/customer/view.html.twig #}
{% extends 'BugTrackerBundle::base.html.twig' %}
{% block page_header_content %}
    {{ parent() }}
    <div class="p-2">
        <a class="btn btn-secondary" href="{{ url('oro_bugtracker_customer_list') }}" role="button">{{ 'Back'|trans }}</a>
    </div>
    {% if is_granted('edit_customer', entity) %}
        <div class="p-2">
            <a class="btn btn-secondary" href="{{ url('oro_bugtracker_customer_edit', { 'id': entity.id } ) }}"
               role="button">{{ 'Edit'|trans }}</a>
        </div>
    {% endif %}
    <div class="p-2">
        {{ render(controller('BugTrackerBundle:Customer:delete', { 'id': entity.id } )) }}
    </div>
{% endblock %}

{% block content %}
    <div class="panel panel-primary panel-bold p-3">
        <div class="panel-body">
            <div class="view-customer-page container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-2 font-weight-bold">
                                {{ 'Username'|trans }}
                            </div>
                            <div class="col-3">
                                {{ entity.username }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-2 font-weight-bold">
                                {{ 'Full name'|trans }}
                            </div>
                            <div class="col-3">
                                {{ entity.fullName }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-2 font-weight-bold">
                                {{ 'Email'|trans }}
                            </div>
                            <div class="col-3">
                                {{ entity.email }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-2 font-weight-bold">
                                {{ 'Roles'|trans }}
                            </div>
                            <div class="col-3">
                                {{ entity.roles|join(', ') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#Initialize customer activity#}
    {% set activity_paginator_var = 'activity_p' %}
    {% set activity_paginator = paginator_object_by_custom_condition(
    activity_class,
    'customer_activities',
    activity_paginator_var,
    [entity]
    ) %}

    {#Initialize customer issue#}
    {% set issue_paginator_var = 'issue_p' %}
    {% set issue_columns = {'id': 'Id', 'code': 'Code', 'summary': 'Summary', 'status': 'Status'} %}
    {% set issue_actions = [{
        'label':'View',
        'router': 'oro_bugtracker_issue_view',
        'router_parameters': [{'collection_key': 'id', 'router_key': 'id'}]
    }] %}
    {% set issue_paginator = paginator_object_by_custom_condition(
    issue_class,
    'customer_issues',
    issue_paginator_var,
    [entity]
    ) %}


    <div class="row">
        <div class="col-8">
            <div class="panel panel-default mt-3 panel-bold">
                <div class="panel-heading p-2">{{ 'Assigned to Me'|trans }}</div>
                <div class="panel-body p-2">
                    {{ include('BugTrackerBundle:Customer:issue.html.twig',
                    {entity_paginator: issue_paginator, columns: issue_columns, paginator_var: issue_paginator_var, actions: issue_actions} ) }}
                </div>
            </div>
        </div>
        <div class="col-4">
            {{ include('BugTrackerBundle:Activity:paginator_list.html.twig',
            {entity_paginator: activity_paginator, paginator_var: activity_paginator_var} ) }}
        </div>
    </div>
{% endblock %}

