<div class="comment-heading">
    <a href="{{ url('oro_bugtracker_customer_view', {id: (activity.customer.id)} ) }}">
        {{ activity.customer.username }}
    </a> {{ 'removed the comment in'|trans }}
    <a href="{{ url('oro_bugtracker_issue_view',{id: (activity.issue.id) }) }}">{{ activity.issue.code }}</a>
</div>
<div class="comment-body pb-2 ">
    <div class="row">
        <div class="col-xl-1 mr-3 font-weight-bold">{{ 'body'|trans }}</div>
        <div class="col-xl-9">
            <div class="updated-field-value">
                {{ activity.diffData.changes.body }}
            </div>
        </div>
    </div>
</div>
<div class="date pb-2">
    {{ 'Event was made - ' }}
    {{ activity.date|date("m/d/Y g:ia") }}
</div>